@import '../../styles.scss';

.list__results{
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: auto;
  max-width: 1280px;
  width: 100%;
  padding: 2% 3%;
  background: $white;
  
  .item{
    background-color:$white;
    padding: 2%;
    border-bottom: 1px solid $silver;

    &__info{
      &-price{
        margin-bottom: 12px;
        color: $dark-gray;
        display: flex;
        font-size: 24px;
        font-weight: 400;
        margin-right: 8px;
      }

      &-title{
        color: $dark-gray;
        font-size: 20px;
        font-weight: 300;
        line-height: 1.3;
        text-decoration: none;
        outline: none;
      }

      &-shipping{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          height: 50%;
        }
      }
    }
    &__image{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 200px;
      max-height: 200px;
      outline: none;
      
      img{
        width: 90px;
        height: 90px;
      }
    }

    &__location{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-none{
    font-size: 16px;
    color: $gray;
    text-align: center;
  }
}


