@import '../../styles.scss';

.pdp-breadcrumb{
  background-color: $silver;

  &__container{
    margin: auto;
    max-width: 1280px;
    width: 100%;
    padding: 1%;
  }

  &__link{
    font-size: 13px;
    color: $gray;
  }
}